USE [master]
GO
/****** Object:  Database [CheckCleanersDB]    Script Date: 2/13/2017 3:00:33 PM ******/
CREATE DATABASE [CheckCleanersDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CheckCleanersDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CheckCleanersDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CheckCleanersDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CheckCleanersDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CheckCleanersDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CheckCleanersDB]
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 2/13/2017 3:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[adminID] [int] NOT NULL,
	[adminName] [varchar](250) NOT NULL,
	[adminSurname] [varchar](250) NOT NULL,
	[adminUsername] [varchar](250) NOT NULL,
	[adminPassword] [varchar](250) NOT NULL,
	[adminEmail] [varchar](250) NOT NULL,
	[adminContact] [varchar](250) NOT NULL,
 CONSTRAINT [tblAdmin_pk] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
